$fontfamilies: "FontAwesome", "Ubuntu Mono", monospace;
$mainboxshadowcolor: rgba(10, 51, 55, 0.7);
$mainborderradius: 0.9rem;
$borderradiusstyle: $mainborderradius; //0 $mainborderradius 0 $mainborderradius;
$mainfontsize: 15px;
$mainboxshadow: 0.15rem 0.15rem $mainboxshadowcolor;
$baroutlinecolor: #051b0a;

$barboxshadowcolor: rgb(26.895, 21.37, 4.9805, 0.7);

// $wscolor: rgb(57.856, 71.719, 55.781, 0.7); //#324a4c;
$wscolor: rgb(143.61, 164.36, 122.52);
// $wstextcolor: #dfcdf1;
$wstextcolor: #20162a;


$paccolor: #ffee70;
$ramcolor: #bc7ed5;
$cpucolor: #5dda92;
$tempcolor: #f3b773;
$controllercolor: #8d728d;
$audiocolor: #DAF7A6;
$spotifycolor: rgba(247, 237, 225, 0.15);

$ispixelstyle: false;
@if $ispixelstyle == true {
    $fontfamilies: "Terminus", "FontAwesome", "Ubuntu Mono", monospace;
    $mainborderradius: 0rem;
    $mainfontsize: 16px;
    $mainboxshadow: 0.15rem 0.15rem 0 0 $mainboxshadowcolor, 0.15rem 0.15rem 0 0 $mainboxshadowcolor;
}

$issproutlandscolor: false;
@if $issproutlandscolor == true {
    $wscolor: #626169;
    $paccolor: #E2D4A4; 
    $ramcolor: #B87CC9;
    $cpucolor:#AAD58F;
    $tempcolor: #F0C99C;
    $controllercolor: #A59CE9;
    $audiocolor: rgb(109.82, 151.41, 103.59);
    $spotifycolor: rgba(247, 237, 225, 0.3);
}

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: $fontfamilies;
    font-size: $mainfontsize;
}


#clock,
#cpu,
#memory,
#disk,
#pulseaudio,
#temperature,
#custom-colorpicker,
#custom-controller,
#custom-pacman,
#custom-spotify {
    box-shadow: 0.15rem 0.15rem $mainboxshadowcolor;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;

    padding: 0rem 0.7rem 0rem 0.4rem;
    border-radius: $borderradiusstyle; // $mainborderradius;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#tray,
#workspaces {
    background-color: $wscolor;
    color: $wstextcolor;
    // box-shadow: 0.15rem 0.15rem $barboxshadowcolor; // rgba(89, 74, 56, 0.7); 
/*    #71c5cd;*/
    margin-bottom: 0.2rem;

    padding: 1px 0px 1px 0px;

    // border-style: solid;
    // border-color: $baroutlinecolor; //#f7ede1;

    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#custom-spotify {
/*    margin-right: 1rem;*/
    background-color: $spotifycolor;
    padding-left: 0.5rem;

}


window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
/*    border-bottom: 3px solid rgba(100, 114, 125, 0.0);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}



button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/*#window,*/
#workspaces {
    // background-color: rgba(48, 48, 48, 0.8);
    // border-radius: 0 $mainborderradius 0 0;
    border-radius: 0 $mainborderradius $mainborderradius 0;
/*    font-weight: bold;*/
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    border-width: 2px 2px 2px 0px;

   
}

/*
    padding here increases the size of the buttons
    margin increases space between buttons
    so if there's no borders, it doesn't really make a difference
*/
#workspaces button {
    background-color: transparent;
    color: $wstextcolor;
    padding: 0rem 0.5rem; 
    margin: 0rem 0.0rem;

}

#workspaces button.active {
    color: #184835;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-colorpicker {
  border-radius: $borderradiusstyle; //$mainborderradius;
/*  background-color: #ffffff;*/
  background: linear-gradient(0deg, rgba(0, 217, 255, 0.4) 50%, transparent 0%), 
              linear-gradient(45deg, rgba(0, 0, 128, 0.4) 50%, transparent 0%), 
              linear-gradient(90deg, rgba(11, 0, 255, 0.4) 50%, transparent 0%), 
              linear-gradient(135deg, pink 50%, transparent 0%), 
              linear-gradient(180deg, brown 50%, transparent 0%),
              linear-gradient(225deg, yellow 50%, transparent 0%),
              linear-gradient(270deg, red 50%, transparent 0%);
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;

}

#custom-controller {
    background-color: $controllercolor;
    padding-right: 0.8rem;
}



#custom-pacman {
    background-color: $paccolor;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

#clock {
    background-color: #ebc1e7 ;
    font-size: 16;
/*    font-weight: bold;*/
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    background-color: #000000;
}

#cpu {
    background-color: $cpucolor;
    color: #000000;
    padding-right: 1rem;
/*    font-weight: bold;*/
}

#memory {
    background-color: $ramcolor;
    padding-right: 0.3rem;
}


#disk {
    background-color: #964B00;
}

#pulseaudio {
    background-color:  $audiocolor;
    color: #000000;

}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#temperature {
    background-color: $tempcolor;
/*    font-weight: bold;*/
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {

    // background-color: //rgba(48, 48, 48, 0.8);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    // border-radius: 0 0 0 $mainborderradius;
    border-radius: $mainborderradius 0 0 $mainborderradius;
    border-width: 2px 0px 2px 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
