$fontfamilies: "FontAwesome", "Ubuntu Mono", monospace;

$mainboxshadowcolor: rgba(10, 51, 55, 0.7);
$diskboxshadowcolor: rgba(40, 80, 64, 0.70196);

$desktopcolor: rgb(247, 237, 225);
$desktopcoloropac: rgb(247, 237, 225, 0.7);
$desktopcolorcal: rgb(247, 237, 225, 0.85);
$darkdesktopcolor: #887857;
$desktoptextcolor: #25605e;

$diskoutercolor: #cfc6b4;
$diskinnercolor: #f5eee6;

$clockcolor: #ebc1e7;
$weathercolor: rgba(247, 237, 225, 0.15);

$suntimecolor: rgb(234, 183, 127, 0.6);

$issproutlandscolor: false;
@if $issproutlandscolor == true {
	// $mainboxshadowcolor: rgb(62.742, 71.813, 128.51, 0.7);
	// $diskboxshadowcolor: rgb(59.963, 67.537, 67.537, 0.7);
	// $desktopcolor: rgb(241, 232, 173, 0.7);
	// $darkdesktopcolor: #765C61;
	$clockcolor: #81a5be;
	$weathercolor: rgb(248, 208, 191, 0.4);
}

$ispixelisocolor: true;
@if $ispixelisocolor == true {
	$mainboxshadowcolor: rgb(10.156, 54.844, 21.049, 0.8);

	$clockcolor: rgb(117.54, 201.21, 200.51, 0.9); 
	$weathercolor: rgb(248, 208, 191, 0.4);
	// $suntimecolor: rgb(195.24, 123.51, 123.51, 0.6);
	// $weathercolor: rgb(215.16, 167.34, 167.34, 0.6);

	$suntimecolor: rgb(55.781, 126.55, 167.34, 0.9); 
	$weathercolor: rgb(55.781, 126.55, 167.34, 0.5);

	$desktopcolor: rgb(193.33, 189.25, 225.12);
	$desktopcoloropac: rgb(193.33, 189.25, 225.12, 0.7);
	$desktopcolorcal: rgb(193.33, 189.25, 225.12, 0.93);
	$darkdesktopcolor: rgb(47.439, 32.871, 62.754);

	$desktoptextcolor: rgb(26.895, 68.73, 52.736);
	$diskoutercolor: rgb(215.16, 219.31, 231.09);
	$diskinnercolor: rgb(180.43, 177.26, 205.24);
}


$mainborderradius: 0.6rem;
$borderradiusstyle: 0 $mainborderradius 0 $mainborderradius;
$mainfontsize: 15px;
$mainboxshadow: 0.35rem 0.35rem 0 0rem $mainboxshadowcolor;
$diskboxshadow: 0.35rem 0.35rem $diskboxshadowcolor;
$smallboxshadow: 0.15rem 0.15rem $mainboxshadowcolor;



$ispixelstyle: false;
@if $ispixelstyle == true {
	$fontfamilies: "Terminus", "FontAwesome", "Ubuntu Mono", monospace;
	$mainborderradius: 0rem;
	$mainfontsize: 16px;
	$mainboxshadow: 0.35rem 0.35rem 0 0 $mainboxshadowcolor;
}

$infoboxcolor: rgb(146.94, 230.06, 198.28, 0.7);
$infoboxdividercolor: #18684f;
$wscolor: #626169;
$paccolor: #503c30; 
$ramcolor: #811e20;
$cpucolor: #27525A;
$tempcolor: #9f3b00;
$controllercolor: #182d68;
$audiocolor: #172016;
$spotifycolor: #0b341b;
$barbuttonhover: rgb(183.28, 231.1, 212.82);

$infobarpadding: 0 10px 0 10px;


*{
	all: unset;
	font-family: $fontfamilies;
	font-size: $mainfontsize;
	color: #151515;
}

.dockbox {
	background-color: $desktopcoloropac;
	border: 0.2rem solid $darkdesktopcolor;
	border-radius: $borderradiusstyle; // $mainborderradius;
	margin: 0.4rem;
	padding: 1rem;

	box-shadow: $mainboxshadow; // rgba(72, 50, 41, 0.7);

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.separator {
	font-weight: bold;
	margin: 0px 5px 0px 5px;
	padding: 1px 0px 1px 0px;
}

.separator2 {
	font-weight: bold;
	padding: 1px 0px 1px 0px;
}

// app launcher
// @@@@@@@@@@@
// appicon should have equal padding around since that's what shows up when hovered
.appicon {
	border-radius: $borderradiusstyle; //$mainborderradius;
	
	padding: 0.5rem;
  background-repeat: no-repeat;
  background-position: center; 
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}

.appicon:hover {
	background-color: #ffffff;
}

.appicon:active {
	background-color: #d9c7b1;
}

// weather
.weatherbox {
	margin: 0rem 0.2rem 0.2rem 0rem;
	padding: 2px 0.2rem 2px 0.5rem;
	// font-size: 15px;
	background-color: $weathercolor;
	border: 2px solid black;
	border-radius: $borderradiusstyle; // $mainborderradius;
	box-shadow: $smallboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.weathericon {
	font-family: Iosevka Nerd Font;
	font-weight : normal;
	margin-right: 0.4rem;
	padding: 0px;
	margin-bottom: 0px;
}

.weathertemp {
	font-weight : bold;
	padding-top: 1px;
	// margin : 0px 0px 0px 3px;
}

.weatherquote {
	font-weight: bold;
	margin: 0px 0px;
	padding: 0px 0px;
	padding-top: 1px;
}

.weatherquote2 {
	font-weight: bold;
	margin: 0px 0px 3px 0;
	padding-right: 0.3rem;
	padding-top: 2px;
	// padding-bottom: 1px;
}

.hidden {
	color: rgba(0, 0, 0, 1)
}

// @@@@@@@@@@@@@@
// clock
// @@@@@@@@@@@@@@
.clockbox {

  margin: 0rem 0.2rem 0.2rem 0.2rem;
	// font-size: 15px;
	background-color: $clockcolor;
	border: 2px solid black;
	// border-radius: $mainborderradius;
	border-radius: $borderradiusstyle;
	box-shadow: $smallboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}


.clocktext {
    font-weight: bold;

    @if $ispixelstyle {
    	padding-top: 3.5px;	
    } @else {
    	padding-top: 0px;
    	padding-bottom: 0px;
    }
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.clockicon {
	font-size: 14px;
	font-weight: normal;
	margin: 0 5px;	
}


.bluelighttoggle:hover {
	background-color: #c0d2de;
	border-radius: 0 0 0 $mainborderradius;
}

// calendar
.calendarbox {
	border-radius: $borderradiusstyle; // $mainborderradius;
	border: 0.2rem solid $darkdesktopcolor;
 	
 	padding: 1rem;
 	background: $desktopcolorcal;

 	margin: 0.4rem;

	box-shadow: $mainboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.calendarinner {
  color: $desktoptextcolor;
  padding: 8px;
  padding-bottom: 3px;

  // background: $desktopcolor;
  // border-radius: $mainborderradius;
  font-size: 20px;
  font-weight: bold;
}

.suntime {
	border-radius: $borderradiusstyle; // $mainborderradius;
	border: 0.15rem solid black;
	background-color: $suntimecolor;
	padding: 0 1rem 0 1rem;
	margin: 0.4rem;
	
	box-shadow: $mainboxshadow;
}

.suntimetext {
	font-size: 24px;
	font-weight: bold;
	margin: 0 1rem 0 1.5rem;
	
}

.suntimeicon {
	font-size: 32px;
	font-weight: bold;
	color: #d4af37;
	// margin: 0 0.5rem;
}

.suntimeicon2 {
	font-size: 32px;
	font-weight: bold;
	margin-right: 0.7rem;
	color: #c0c0c0;
}

// @@@@@@@@@@@@@@@
// disk
// @@@@@@@@@@@@@@@
.res_panel {
	background-color: $desktopcoloropac;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin: 0.4rem;
	border-radius: $borderradiusstyle; // $mainborderradius;
	border: 0.2rem solid $darkdesktopcolor;

	box-shadow: $mainboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

	box-shadow: $mainboxshadow;	

}

.res_box {
	background-color: $desktopcoloropac;
	border: 0.2rem solid $darkdesktopcolor;
	border-radius: $borderradiusstyle; // $mainborderradius;
	padding: 14px 18px 0px 18px;
	margin: 0.8rem;

		// box-shadow: 0.7rem 0rem 0 0 $mainboxshadowcolor, 
		// 					-0.7rem 0rem 0 0 $mainboxshadowcolor,
		// 					0rem 0.7rem 0 0 $mainboxshadowcolor,
		// 					0rem -0.7rem 0 0 $mainboxshadowcolor;

	box-shadow: 0.35rem 0.35rem 0 0 $diskboxshadowcolor, 0.35rem 0.35rem 0 0 $diskboxshadowcolor;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	
}

.res_circle {
	background-color: $diskoutercolor; 
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	background-color: $diskinnercolor;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 45px;
	font-weight: bold;
	font-size: 28px;
	color: $desktoptextcolor; //$mainboxshadowcolor;
}


.res_main_disk {
	color: #5CA9BF;
}

.res_ssd_disk {
	color: #4FAA85;
}

.res_nas_disk {
	color: #EC9671;
}

.drive_type {
	border: 2px solid $mainboxshadowcolor;
	padding: 0 0.5rem 0px 0.5rem;
	margin: 0 0px 10px 0px;
	color: $desktoptextcolor;// $mainboxshadowcolor;
	font-size: 28px;
	font-weight: bold;

	box-shadow: $smallboxshadow;
}


// @@@@@@@@@@@@@@@
// tooltip
// @@@@@@@@@@@@@@@
tooltip {
	background-color: white;
}

// @@@@@@@@@@@@@@@@@@@
// info
// @@@@@@@@@@@@@@@@@@@
.infobox {
	border-radius: $borderradiusstyle;
	box-shadow: $smallboxshadow;
	margin: 0 0.2rem 0.2rem 0;
	background-color: $infoboxcolor;
	border: 2px solid black;
}

.infoitembox {
	// border: 0 solid black;
	border-left: 2px dotted $infoboxdividercolor;
	padding: $infobarpadding;
}

.genericicon {
	padding: 0;
	margin: 0;
}


// @@@@@@@@@@@@@@@@@@@
// pacman
// @@@@@@@@@@@@@@@@@@@
.pacmantext {
	font-weight: bold;
	color: $paccolor;
	// padding: 0 0 0 4px;
}

.pacmanicon {
	font-weight: bold;
	color: $paccolor;
	padding: 0px 0px 0 4px;
}

.pacmanbutton:hover {
	border-radius: 0 $mainborderradius 0 0;
	background-color: $barbuttonhover;
}


// @@@@@@@@@@@@@@@@@@@
// mem
// @@@@@@@@@@@@@@@@@@@
.memtext {
	font-weight: bold;
	color: $ramcolor;
	// padding: 0 0 0 4px;
}

.memicon {
	font-weight: bold;
	color: $ramcolor;
	padding: 1px 0px 0 4px;
}

.membutton:hover {
	background-color: $barbuttonhover;
}


// @@@@@@@@@@@@@@@@@@@
// cpu
// @@@@@@@@@@@@@@@@@@@
.cputext {
	font-weight: bold;
	color: $cpucolor;
}

.cpuicon {
	font-weight: bold;
	color: $cpucolor;
	padding: 1px 0px 0 0px;
}

.cpubutton:hover {
	background-color: $barbuttonhover;
}

// @@@@@@@@@@@@@@@@@@@
// temps
// @@@@@@@@@@@@@@@@@@@
.cputemptext {
	font-weight: bold;
	color: $tempcolor;
	// padding: 0 0 0 4px;
}

.cputempicon {
	font-weight: bold;
	color: $tempcolor;
	padding: 1px 0px 0 4px;
}

// @@@@@@@@@@@@@@@@@@@
// controller
// @@@@@@@@@@@@@@@@@@@
.controllertext {
	font-weight: bold;
	color: $controllercolor;
	// padding: 0 0 0 4px;
}

.controllericon {
	font-weight: bold;
	color: $controllercolor;
	padding: 2px 0px 0 4px;
}

// @@@@@@@@@@@@@@@@@@@
// audio
// @@@@@@@@@@@@@@@@@@@
.audiotext {
	font-weight: bold;
	color: $audiocolor;
	// padding: 0 0 0 4px;
}

.audioicon {
	font-weight: bold;
	color: $audiocolor;
	padding-left: 4px;
}

.audiobutton {

}

.audiobutton:hover {
	background-color: $barbuttonhover;
}

// @@@@@@@@@@@@@@@@@@@
// spotify
// @@@@@@@@@@@@@@@@@@@

.spotifybox {
	border: 0px none black;
}

.spotifytext {
	font-weight: bold;
	color: $spotifycolor;
}

.spotifyplaypauseicon {
	// padding: 2px 5px 0px 5px;
	padding: 2px 5px 0 0px;
	color: $spotifycolor;
}

.spotifyicon {
	// padding: 1px 5px 0px 5px;
	padding: 2px 0px 0 5px;
	color: $spotifycolor;
}

.spotifybox {	
	padding: $infobarpadding;
}

.spotifybutton {
	
}

.spotifybutton:hover {
	background-color: $barbuttonhover;
	border-radius: 0 0 0 $mainborderradius;
}






