$fontfamilies: "FontAwesome", "Ubuntu Mono", monospace;
$mainboxshadowcolor: rgba(10, 51, 55, 0.7);
$mainborderradius: 0.4rem;
$mainfontsize: 15px;
$mainboxshadow: 0.35rem 0.35rem $mainboxshadowcolor;
$diskboxshadow: 0.35rem 0.35rem #236249b3;
$smallboxshadow: 0.15rem 0.15rem $mainboxshadowcolor;

$ispixelstyle: true;
@if $ispixelstyle == true {
	$fontfamilies: "monogram extended", "Terminus", "FontAwesome", "Ubuntu Mono", monospace;
	$mainborderradius: 0rem;
	$mainfontsize: 14px;
	$mainboxshadow: 0.35rem 0.35rem 0 0 $mainboxshadowcolor, 0.35rem 0.35rem 0 0 $mainboxshadowcolor;
}


*{
	all: unset;
	font-family: $fontfamilies;
	font-size: $mainfontsize;
	color: #151515;
}

.dockbox {
	background-color: #f7ede1;
	// border-width: 0px 1px 1px 0px; 
	// border-style: solid;
	// border-color: white; //#6b5843;
	border-radius: $mainborderradius;
	margin: 0.4rem;

	box-shadow: $mainboxshadow; // rgba(72, 50, 41, 0.7);

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.dockboxinner {
	// margin: 0.2rem;
	// box-shadow: 0.1rem 0.1rem #ffffff;
	// border: 4px solid #6b5843;
	// border-radius: 0.5rem;
	// -moz-background-clip: padding; 
	// -webkit-background-clip: padding-box;
	// background-clip: padding-box;
}

.separator {
	font-weight: bold;
	margin: 0px 8px 0px 8px;
	padding: 1px 0px 1px 0px;
}

.separator2 {
	font-weight: bold;
	padding: 1px 0px 1px 0px;
}

// app launcher
.appicon {
	border-radius: $mainborderradius;
	
	padding: 0.5rem;
    background-repeat: no-repeat;
    background-position: center; 
	background-size: 40px;
	min-height: 40px;
	min-width: 40px;
}

.appicon:hover {
	background-color: #ffffff;
}

.appicon:active {
	background-color: #d9c7b1;
}

// weather
.weatherbox {
	margin: 0rem 0.2rem 0.2rem 0rem;
	padding: 0.25rem 0.2rem 0.25rem 0.5rem;
	// font-size: 15px;
	background-color: rgba(247, 237, 225, 0.15);
	border: 2px solid black;
	border-radius: $mainborderradius;
	box-shadow: $smallboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.weathericon {
	font-family: Iosevka Nerd Font;
	font-weight : normal;
}

.weathertemp {
	font-weight : bold;
	margin : 0px 0px 0px 3px;
}

.weatherquote {
	font-weight: bold;
	margin: 2px 0px;
}

.weatherquote2 {
	font-weight: bold;
	margin: 2px 0px;
	padding-right: 0.3rem;
}

.hidden {
	color: rgba(0, 0, 0, 1)
}

// clock
.clockbox {

    margin: 0rem 0.2rem 0.2rem 0.2rem;
	padding: 0.1rem 0rem 0.15rem 0rem;
	// font-size: 15px;
	background-color: #ebc1e7;
	border: 2px solid black;
	border-radius: $mainborderradius;
	box-shadow: $smallboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.clocktext {
    font-weight: bold;
    @if $ispixelstyle {
    	padding-top: 1px;	
    } @else {
    	padding-bottom: 1px;
    }
}

.clockicon {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0.8rem;
}

// calendar
.calendarbox {
	border-radius: $mainborderradius;
 	// border: 3px solid #25605e;
 	padding: 1rem;
 	background: #f7ede1;

 	margin: 0.4rem;

	box-shadow: $mainboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.cal {
  color: #25605e;
  padding: 8px;
  padding-bottom: 3px;

  background: #f7ede1;
  border-radius: $mainborderradius;
  font-size: 20px;
  font-weight: bold;
}



// @@@@@@@@@@@@@@@
// disk
// @@@@@@@@@@@@@@@
.res_panel {
	background-color: #F0E9E1;
	padding: 0.5rem;
	margin: 0.4rem;
	border-radius: $mainborderradius;

	box-shadow: $mainboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

	box-shadow: $mainboxshadow;	

}

.res_box {
	background-color: #eae0d5;
	// border: 1px solid #E6DFD7;
	border-radius: $mainborderradius;
	padding: 14px 18px 14px 18px;
	margin: 10px;

	box-shadow: $mainboxshadow;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;



}

.res_circle {
	background-color: #E1DCD2;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	background-color: #F5EEE6;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 45px;

}

.res_disk {
	color: #67D4F1;
}